<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="sign-in-container">
      <h2>Reset password</h2>
      <mat-form-field appearance="fill">
        <mat-label>{{'email-request-to-get-pass' | translate}}</mat-label>
        <input
          matInput
          placeholder="username"
          required
          #passwordResetEmail>
      </mat-form-field>
      <mat-action-row>
        <button
          mat-raised-button
          (click)="authService.forgotPassword(passwordResetEmail.value)"
          color="primary"
          type="submit">
          {{'reset-password' | translate}}
        </button>
      </mat-action-row>
      <mat-action-row>
        <div class="redirectToLogin">
          <span>{{'go-back-to' | translate}}</span>
          <span class="redirect" routerLink="/sign-in">{{'login' | translate}}</span>
        </div>
      </mat-action-row>
    </div>
  </div>
</div>
