<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="sign-in-container">
      <h2>Reset password</h2>
      <mat-form-field appearance="fill">
        <mat-label>Please enter your email address to request a password reset.</mat-label>
        <input
          matInput
          placeholder="username"
          required
          #passwordResetEmail>
      </mat-form-field>
      <mat-action-row>
        <button
          mat-raised-button
          (click)="authService.forgotPassword(passwordResetEmail.value)"
          color="primary"
          type="submit">
          Reset Password
        </button>
      </mat-action-row>
      <mat-action-row>
        <div class="redirectToLogin">
          Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span>
        </div>
      </mat-action-row>
    </div>
  </div>
</div>
